/* 
Here is my main CSS file. I'm still learning what to put first,
what goes where, and the order I should create my rules. I made
the initial rules first, and tried to cut out redundancy at the end
*/

body{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
}


#notif-num, #acclett{
  margin: 0 auto;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.notif{
  width: 20px;
  height: 20px;
  background-color: Grey;
  opacity: 0.5;
}

.googacc{
  background-color: Grey;
}

header{
  display: flex;
  align-items:center;
  height: 40px;
  font-size: 0.7em;
}

footer{
  display:flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background-color:#f2f2f2;
  font-size: 0.7em;
}
nav{
  display:flex;
  align-items: center;
  height: 20px;
}

nav a{
  color: black;
  text-decoration: none;
  margin: 0 7px;
}

.l{
  position: absolute;
  left: 15px;
}

.r{
 position: absolute;
 right: 15px;
}