/* 
Here is my main CSS file. I'm still learning what to put first,
what goes where, and the order I should create my rules. I made
the initial rules first, and tried to cut out redundancy at the end
*/

body{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
}


#notif-num, #acclett{
  margin: 0 auto;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.notif{
  width: 20px;
  height: 20px;
  background-color: Grey;
  opacity: 0.5;
}

.googacc{
  background-color: Grey;
}

header{
  display: flex;
  align-items:center;
  height: 40px;
  font-size: 0.9em;
}

footer{
  display:flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background-color:#f2f2f2;
  font-size: 0.9em;
}
nav{
  display:flex;
  align-items: center;
  height: 20px;
}

nav a{
  color: black;
  text-decoration: none;
  margin: 0 7px;
}

.l{
  position: absolute;
  left: 15px;
}

.r{
 position: absolute;
 right: 15px;
}
.foot a{
  color: #5f6368;
}

#logo{
  display:block;
  margin: 100px auto;
  margin-bottom: 0px
}

#searchbar{
  display:block;
  margin: 10px auto;
  min-width: 460px;
  height: 40px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),
  0 0 0 1px rgba(0,0,0,0.08);
  border-radius: 2px;
  border: 1px black;
}

main div{
margin: 20px auto;
text-align: center;
}

#googsearch, #luckysearch{
  height: 40px;
  padding: 0 16px;
  margin: 4px 8px;
  border: none;
  color: #757575;
  background-color: #f4f4f4;
  border-radius: 2px;
}

#mic{
  position: absolute;
  right: 290px;
  top: 250px;
}

main{
  border: 1px solid black;
}